version: "3.9"

services:
  whisper:
    build: .
    container_name: whisper-gpu
    environment:
      WHISPER_MODEL: openai/whisper-tiny.en
    ports:
      - "9001:8000"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
